<a href="https://colab.research.google.com/github/gr-uzun/urban-sounds/blob/main/Urban_Sounds_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Model Hazırlanması ve Eğitimi - Notebook**

a. Bir CNN modeli hazırlayın.

b. Modeli hazırlamış olduğunuz veriyi kullanarak eğitin.

c. Modelin performans metriklerini, loss ve accuracy grafiklerini ekrana yazdırın.

d. Aldığınız sonuçlara göre hyperparameter optimization yapın.

**Building a Convolutional Neural Network**

Image classification
In this project, we will build a convolutional neural network to solve a multiclass image classification problem.

**Importing the required libraries**

In [2]:
# Import TensorFlow
import tensorflow as tf

# Import Numpy ,Pandas and Matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Dataset**

Bir önceki kısımda oluşturulan veri setlerini oku.

In [3]:
X_train = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_X_train.csv')
X_val = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_X_val.csv')
X_test = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_X_test.csv')

y_train = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_y_train.csv')
y_val = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_y_val.csv')
y_test = pd.read_csv('./drive/MyDrive/UrbanSoundMyFolder/Image_y_test.csv')

In [4]:
# Print the number of samples 
print(f'X_train : {len(X_train)}')
print(f'X_test : {len(X_test)}')

X_train : 6985
X_test : 874

In [5]:
# Print the shape of samples 
print(f'X_train : {X_train.shape}')
print(f'X_test : {X_test.shape}')

X_train : (6985, 1)
X_test : (874, 1)

In [6]:
X_train

                                                  Image
0     [[  0   0   0   0   0   0   0   0   0   0   0 ...
1     [[  0   0   0   0   0   0   0   0   0   0   0 ...
2     [[  0   0   0   0   0   0   0   0   0   0   0 ...
3     [[  0   0   0   0   0   0   0   0   0   0   0 ...
4     [[  0   0   0   0   0   0   0   0   0   0   0 ...
...                                                 ...
6980  [[ 17  18  31  31  28  33  36  32  36  33  33 ...
6981  [[  0   0   0   0   0   0   0   0   0   0   0 ...
6982  [[  0   1   0   0   0   0   0   0   0   0   0 ...
6983  [[  0   0   0   0   0   0   0   0   0   0   0 ...
6984  [[  0   0   0   0   0   0   0   0   0   0   0 ...

[6985 rows x 1 columns]

In [7]:
X_test

                                                 Image
0    [[  0   0   5   7   6  13   0   3   0   1   0 ...
1    [[  0   0   0   0   0   0   0   0   0   0   0 ...
2    [[  0   0   0   0   0   0   0   0   0   0   0 ...
3    [[  0   0   0   0   0   0   0   0   0   0   0 ...
4    [[  0   0   0   0   0   0   0   0   0   0   0 ...
..                                                 ...
869  [[  0   0   0   0   0   0   0   0   0   0   0 ...
870  [[  0   0   0   0   0   0   0   0   0   0   0 ...
871  [[  0   0   0   0   0   0   0   0   0   0   0 ...
872  [[  0   0   0   0   0   0   0   0   0   0   0 ...
873  [[  0   0   0   0   0   0   0   0   0   0   0 ...

[874 rows x 1 columns]

**Constructing the neural network**

That was it for the preprocessing of the data!

Now we can create our model. First, we start by creating a model object using the Sequential API of Keras.

📌 Use tf.keras.Sequential() to create a model object

In [10]:
image_width = 25
image_height = 25

In [12]:
X_train = X_train.reshape(X_train.size(), image_width, image_height, 1)

AttributeError: ignored

In [8]:
# Create a model object
model = tf.keras.Sequential()

In [13]:
# Add a convolution and max pooling layer
model.add(tf.keras.layers.Conv2D(32,
                                 kernel_size = (3,3),
                                 strides=(1,1),
                                 padding='same',
                                 activation='relu',
                                 input_shape=(image_width,image_height,1)))

model.add(tf.keras.layers.MaxPooling2D((2,2)))

In [15]:
# Add more convolution and max pooling layers
model.add(tf.keras.layers.Conv2D(64,
                                 kernel_size = (3,3),
                                 strides=(1,1),
                                 padding='same',
                                 activation='relu',
                                 input_shape=(image_width,image_height,1)))

model.add(tf.keras.layers.MaxPooling2D((2,2)))

model.add(tf.keras.layers.Conv2D(64,
                                 kernel_size = (3,3),
                                 strides=(1,1),
                                 padding='same',
                                 activation='relu',
                                 input_shape=(image_width,image_height,1)))

**Flatten**

To connect the 2D convolution and 1D dense layers, we have to "flatten" the convolution layer.

In [16]:
# Flatten the convolution layer
model.add(tf.keras.layers.Flatten())

**Classification layers**

Now that we have the features extracted, we can move on to the classification part. We add two dense layers each with 64 nodes, 0.5 dropout and ReLU activation functions.

In [17]:
# Add the dense layer and dropout layer
model.add(tf.keras.layers.Dense(64,activation='relu'))
model.add(tf.keras.layers.Dropout(0.5))

# Add the dense layer and dropout layer
model.add(tf.keras.layers.Dense(64,activation='relu'))
model.add(tf.keras.layers.Dropout(0.5))

**Output layer**

As the last part of our neural network, we add the output layer. The number of nodes will be equal to the number of target classes which is 10 in our case. We'll use the softmax activation function in the output layer.

In [18]:
# Add the output layer
model.add(tf.keras.layers.Dense(10,activation='softmax'))

**Optimizer**

Now we have the structure of our model.

To configure the model for training, we'll use the .compile() method.

Inside the compile method, we have to define the following:

"Adam" for optimizer
"Sparse Categorical Crossentropy" for the loss function

In [19]:
# Compile the model
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

**Training the model**

It's time to train the model. We'll give the X_train and y_train datasets as the first two arguments. These will be used for training. And with the validation_data parameter, we'll give the X_val and y_val as a tuple.

In [21]:
# Train the model for 50 epochs with batch size of 128
results = model.fit(X_train.to_numpy(),y_train.to_numpy(),
                    batch_size = 128,
                    epochs=50,
                    validation_data=(X_val.to_numpy(),y_val.to_numpy()))

Epoch 1/50

WARNING:tensorflow:Model was constructed with shape (None, 25, 25, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 25, 25, 1), dtype=tf.float32, name='conv2d_1_input'), name='conv2d_1_input', description="created by layer 'conv2d_1_input'"), but it was called on an input with incompatible shape (None, 1).

ValueError: ignored

**Visualize the results**

After the model is trained,

we can create a graph to visualize the change of loss over time.

Results are held in:

results.history["loss"]

results.history["val_loss"]

In [ ]:
# Plot the the training loss
plt.plot(results.history["loss"],label='loss')

# Plot the the validation loss
plt.plot(results.history["val_loss"],label='val_loss')

# Name the x and y axises
plt.xlabel("Epochs")
plt.ylabel("Loss")

# Put legend table
plt.legend()


# Show the plot
plt.show()

Now do the same thing for accuracy.

In [ ]:
# Plot the the training accuracy
plt.plot(results.history["accuracy"],label='accuracy')

# Plot the the validation accuracy
plt.plot(results.history["val_accuracy"],label='val_accuracy')

# Name the x and y axises
plt.xlabel("Epochs")
plt.ylabel("accuracy")

# Put legend table
plt.legend()

# Show the plot
plt.show()

**Performance evaluation**

Let's use the test dataset we created to evaluate the performance of the model.

In [ ]:
model.evaluate(X_test,y_test)

**Try a prediction**

Next, we take the sample we selected at the beginning and make a prediction on it.

In [ ]:
# Make prediction on the reshaped sample
prediction_result = model.predict(X_test[789].reshape(1,32,32,3))

# Print the prediction result
prediction_result

Finally, we find the predicted class and prediction probability and print the results.

In [ ]:
# Find the predicted class
predicted_class = prediction_result.argmax()

# Find the prediction probability
prediction_probability = prediction_result.max()

In [ ]:
# Print the results
print(f'This image belongs to class {predicted_class} with probability {prediction_probability} %')